/* Navbar */

.navbar-default {
  background-color: #bfd5d5;
  min-height: 100px;
  border-style: none;
}

.navbar-brand {
  padding-top: 40px;
}

#head {
  font-family: 'Indie Flower', cursive;
  color: orange;
  font-size: 7em;
  font-weight: bold;
  text-shadow: 2px 2px 5px #132330;
}

.navbar-form {
  padding-top: 40px;
}

#listName {
  background-color: #fff;
  font-family: 'Indie Flower', cursive;
  color: orange;
}

.btn-primary {
  background-color: #132330;
  font-family: 'Indie Flower', cursive;
  color: orange;
}

.btn-primary:hover {
  background-color: orange;
}

/* Body */

body {
  background-color: #132330;
}

/* List Item Input */

h1 {
  padding-left: 50px;
  color: orange;
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 2px 2px 5px #132330;
}

.panel > .panel-heading {
  background-color: #bfd5d5;
}

.panel-default {
  background-color: #132330;
  /*position: fixed; want to use this but it is not responsive */
}

.form-group {
  padding-left: 100px;
}

.input {
  padding-top: 40px;
}

#newItem {
  background-color: #bfd5d5;
  font-family: 'Indie Flower', cursive;
  color: orange;
}

/* Table */

.addedList {
  padding-top: 40px;
}

td {
  background-color: #132330;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  color: orange;
}



th, td {
  text-align: center;
}

th {
  background-color: #bfd5d5; 
  font-family: 'Indie Flower', cursive;
  color: orange;
}

h2 {
  font-size: 40px;
  text-shadow: 2px 2px 5px #132330;

}

.complete {
  width: 150px;
}

.delete {
  width: 150px;
}